@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-y: auto;
	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	background-color: rgb(29, 29, 29); /* Updated background color */
	color: rgb(209, 202, 194); /* Updated text color */
	font-family: "Nunito Sans", sans-serif; /* Updated font for body */
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

/* Headline Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Halant", serif; /* Updated font for headlines */
}

/* Accent Colors */
.accent1 {
	color: rgb(186, 135, 92); /* Accent 1 */
}

.accent2 {
	color: rgb(89, 107, 95); /* Accent 2 */
}
