@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-y: auto;
	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}
