/* FILEPATH: /c:/Users/Brandon/Desktop/Portfolio Website/BrandoRiv.github.io/src/components/styles/tailwind.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.fade-scroll {
	@apply relative overflow-hidden;
}

.fade-scroll::before,
.fade-scroll::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 1rem;
	pointer-events: none;
	z-index: 10;
}

.fade-scroll::before {
	top: 0;
	background: linear-gradient(to bottom, #ffffff, transparent);
}

.fade-scroll::after {
	bottom: 0;
	background: linear-gradient(to top, #ffffff, transparent);
}

html {
	scroll-behavior: smooth;
}
